*.fits
h5dump
data/
disk_benchmark/
HDFits/
prof/
*.asc
*.log
zenodo/


photoop/
.ipynb_checkpoints/
venv*

#Test data
*.nc
*.h5
*.xml
*.txt

#profiling
profile

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
ext_lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


.idea
