
*.fits
h5dump
data/
SFR
galaxy_small_decompressed/
disk_benchmark/
HDFits/
prof/
*.asc
*.log
*.csv
*.pdf
zenodo/
qso/
results
results/
cmake-build-debug/
gtest/
Timing benchmarks.ipynb


photoop/
.ipynb_checkpoints/
venv*

#Test data
*.nc
*.h5
*.xml
*.txt

#logging
logfile*

#profiling
profile*
*.slog2
*.clog2
*.prof

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
ext_lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.o


.idea
