*.fits
h5dump
data/
galaxy_small_decompressed/
disk_benchmark/
HDFits/
prof/
*.asc
*.log
zenodo/
qso/
results
results/


photoop/
.ipynb_checkpoints/
venv*

#Test data
*.nc
*.h5
*.xml

#profiling
profile*
*.slog2
*.clog2

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
ext_lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


.idea
