bottleneck
cftime
eccodes-python
erddapy
fitsio
h5py
healpy
ipyparallel
jupyter
lxml
numpydoc
opencv-python
pip-chill
proj
protobuf
pyprof2calltree
pyproj
pytest-profiling
reproject
resources
scikit-learn
seaborn
toolz
tqdm
xarray
